/* Base colors - TODO: verify usage of grey-1 and grey-2 */
.theme-dark {
  --accent-h: 219;
  --accent-s: 56%;
  --accent-l: 55%;

  --background-primary: #2c2f38;
  --background-primary-alt: #343740;
  --background-secondary: #3c3f48;
  --background-secondary-alt: #454850;
  --background-accent: #000;
  --background-modifier-border: #525760;
  --background-modifier-form-field: rgba(0, 0, 0, 0.3);
  --background-modifier-form-field-highlighted: rgba(0, 0, 0, 0.22);
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.2);
  --background-modifier-success: #4caf50;
  --background-modifier-error: #d32f2f;
  --background-modifier-error-rgb: 211, 47, 47;
  --background-modifier-error-hover: #b71c1c;
  --background-modifier-cover: rgba(0, 0, 0, 0.5);
  --text-accent: #82aaff;
  --text-accent-hover: #9cc4ff;
  --text-normal: #e0e0e0;
  --text-muted: #b0b0b0;
  --text-faint: rgb(100, 105, 118);
  --text-error: #ff6e6e;
  --text-error-hover: #ff5252;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-selection: rgba(0, 122, 255, 0.2);
  --text-on-accent: #e0e0e0;
  --interactive-normal: #343740;
  --interactive-hover: #484b53;
  --interactive-accent-hover: hsl(var(--accent-h), calc(var(--accent-s) + 5%), calc(var(--accent-l) - 10%));
  --scrollbar-active-thumb-bg: rgba(255, 255, 255, 0.2);
  --scrollbar-bg: rgba(255, 255, 255, 0.05);
  --scrollbar-thumb-bg: rgba(255, 255, 255, 0.1);
  --panel-border-color: #242529;
  --gray-1: #7c7c7c;
  --gray-2: #c0c0c0;
  --red: #ff5252;
  --orange: #ffa726;
  --green: #81c784;
  --aqua: #4dd0e1;
  --purple: #ba68c8;
  --blue: #82aaff;
  --yellow: #ffeb3b;
  --background-modifier-hover: hsla(var(--accent-h), calc(var(--accent-s) - 35%), var(--accent-l), 0.06);
  --divider-color-hover: #505560;
}

.theme-light {
  --accent-h: 230;
  --accent-s: 83%;
  --accent-l: 64%;

  --background-primary: #ffffff;
  --background-primary-alt: #f0f0f0;
  --background-secondary: #e0e0e0;
  --background-secondary-alt: #d0d0d0;
  --background-accent: #ffffff;
  --background-modifier-border: #d0d0d0;
  --background-modifier-form-field: #ffffff;
  --background-modifier-form-field-highlighted: #ffffff;
  --background-modifier-box-shadow: rgba(0, 0, 0, 0.1);
  --background-modifier-success: #a5d6a7;
  --background-modifier-error: #ef9a9a;
  --background-modifier-error-rgb: 239, 154, 154;
  --background-modifier-error-hover: #e57373;
  --background-modifier-cover: rgba(0, 0, 0, 0.8);
  --text-accent: #2196f3;
  --text-accent-hover: #1e88e5;
  --text-normal: #212121;
  --text-muted: #757575;
  --text-faint: #9e9e9e;
  --text-error: #f44336;
  --text-error-hover: #e53935;
  --text-highlight-bg: rgba(255, 255, 0, 0.4);
  --text-selection: rgba(0, 122, 255, 0.15);
  --text-on-accent: #ffffff;
  --interactive-normal: #f0f0f0;
  --interactive-hover: #e0e0e0;
  --interactive-accent-rgb: 33, 150, 243;
  --interactive-accent-hover: hsl(var(--accent-h), calc(var(--accent-s) - 10%), calc(var(--accent-l) - 4%));
  --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-bg: rgba(0, 0, 0, 0.05);
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
  --panel-border-color: #d0d0d0;
  --gray-1: #212121;
  --gray-2: #212121;
  --red: #f44336;
  --green: #4caf50;
  --blue: #3d74f6;
  --purple: #9c27b0;
  --aqua: #00bcd4;
  --yellow: #ffeb3b;
  --orange: #ff9800;
}

.theme-dark,
.theme-light {
  --ribbon-background: var(--background-primary);
  --drag-ghost-background: var(--background-secondary-alt);
  --background-modifier-message: var(--background-secondary-alt);
  --tab-outline-color: transparent;
  --divider-color: transparent;
  --prompt-border-color: var(--panel-border-color);
  --modal-border-color: var(--panel-border-color);
  --background-modifier-border-hover: var(--interactive-hover);
  --background-modifier-border-focus: var(--interactive-hover);
  --checkbox-color: var(--text-accent);
  --checkbox-color-hover: var(--text-accent-hover);
  --nav-item-background-active: var(--interactive-accent);
  --nav-item-color-active: #ffffff;
  --tag-color: var(--yellow);
  --tag-background: var(--background-primary-alt);
  --tag-color-hover: var(--yellow);
  --tag-background-hover: var(--background-primary-alt);
  --tag-padding-x: 4px;
  --tag-padding-y: 2px;
  --tag-radius: 4px;
  --inline-title-weight: var(--bold-weight);
  --link-decoration: none;
  --link-external-decoration: none;
  --embed-padding: 0 0 0 var(--size-4-4);
}

/* Search */
.search-result .search-result-file-title {
  cursor: pointer;
}

.search-result .collapse-icon {
  cursor: var(--cursor);
}

.search-result:not(.is-collapsed) .search-result-file-title {
  color: var(--blue);
}

/* File tab separators */
.workspace .mod-root .workspace-tab-header-inner::after {
  right: unset;
  left: -0.5px;
}

.workspace .mod-root .workspace-tab-header:last-child .workspace-tab-header-inner::before {
  position: absolute;
  right: -0.5px;
  width: 1px;
  background-color: var(--tab-divider-color);
  content: '';
  height: 20px;
}

.workspace .mod-root .workspace-tab-header.is-active .workspace-tab-header-inner::after,
.workspace .mod-root .workspace-tab-header.is-active .workspace-tab-header-inner::before,
.workspace .mod-root .workspace-tab-header:first-child .workspace-tab-header-inner::after,
.workspace .mod-root .workspace-tab-header.is-active + .workspace-tab-header .workspace-tab-header-inner::after {
  opacity: 0;
}

/* Editor and output */
.markdown-rendered blockquote {
  padding: var(--embed-padding);
}

mjx-container {
  text-align: left !important;
}

.math-block {
  font-size: 1.3em;
}

.theme-light :not(pre) > code,
.theme-light pre {
  background: var(--background-primary);
  box-shadow: inset 0 0 0 1px var(--background-primary-alt);
  border-radius: 4px;
}

.markdown-preview-section > div h1,
.markdown-preview-section > div h2,
.markdown-preview-section > div h3,
.markdown-preview-section > div h4,
.markdown-preview-section > div h5,
.markdown-preview-section > div h6 {
  margin-top: 40px;
}

.mod-header + div h1,
.mod-header + div h2,
.mod-header + div h3,
.mod-header + div h4,
.mod-header + div h5,
.mod-header + div h6 {
  margin-top: 30px;
}

.cm-sizer > .inline-title {
  margin-bottom: 20px;
}

/* Miscellaneous */
.theme-dark .dropdown:hover {
  background-color: var(--background-modifier-form-field);
}

.tooltip {
  color: var(--text-muted);
}

.nav-file,
.nav-folder {
  padding: 1px 2px;
}

body:not(.is-grabbing) .nav-file-title.is-being-dragged,
body:not(.is-grabbing) .nav-folder-title.is-being-dragged,
.nav-file-title.is-being-dragged,
.nav-folder-title.is-being-dragged {
  background-color: var(--background-primary-alt);
  color: var(--nav-item-color);
}

.view-header-title {
  text-decoration: underline;
  text-decoration-color: var(--text-muted);
  text-underline-offset: 1.5px;
}

.status-bar {
  border-color: var(--panel-border-color);
  border-width: 1px;
  padding: 4px 8px;
}

.theme-dark button.mod-warning {
  --background-modifier-error: #d32f2f;
  --background-modifier-error-hover: #b01515;
}

.theme-light button.mod-warning {
  --background-modifier-error: #e53935;
  --background-modifier-error-hover: #c62828;
}

/* Code syntax highlighting */
code[class*='language-'],
pre[class*='language-'] {
  text-align: left !important;
  white-space: pre !important;
  word-spacing: normal !important;
  word-break: normal !important;
  word-wrap: normal !important;
  line-height: 1.5 !important;
  tab-size: 4 !important;
  hyphens: none !important;
}

pre[class*='language-'] {
  /* Code blocks */
  padding: 1em !important;
  margin: 0.5em 0 !important;
  overflow: auto !important;
}

:not(pre) > code[class*='language-'] {
  /* Inline code */
  padding: 0.1em !important;
  border-radius: 0.3em !important;
  white-space: normal !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata,
.HyperMD-codeblock .cm-comment {
  color: var(--gray-1) !important;
}

.token.punctuation,
.HyperMD-codeblock .cm-hmd-codeblock,
.HyperMD-codeblock .cm-bracket {
  color: var(--gray-2) !important;
}

.token.selector,
.token.tag,
.HyperMD-codeblock .cm-tag,
.HyperMD-codeblock .cm-property,
.HyperMD-codeblock .cm-meta,
.HyperMD-codeblock .cm-qualifier,
.HyperMD-codeblock .cm-header,
.HyperMD-codeblock .cm-quote,
.HyperMD-codeblock .cm-hr,
.HyperMD-codeblock .cm-link {
  color: var(--red) !important;
}

.token.property,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.attr-name,
.token.deleted,
.HyperMD-codeblock .cm-number,
.HyperMD-codeblock .cm-atom,
.HyperMD-codeblock .cm-attribute {
  color: var(--orange) !important;
}

.token.string,
.token.char,
.token.attr-value,
.token.builtin,
.token.inserted,
.HyperMD-codeblock .cm-string,
.HyperMD-codeblock .cm-builtin {
  color: var(--green) !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.HyperMD-codeblock .cm-string-2,
.HyperMD-codeblock .cm-operator {
  color: var(--aqua) !important;
}

.token.atrule,
.token.keyword,
.HyperMD-codeblock .cm-keyword {
  color: var(--purple) !important;
}

.token.function,
.token.macro.property,
.HyperMD-codeblock .cm-def,
.HyperMD-codeblock .cm-variable {
  color: var(--blue) !important;
}

.token.class-name,
.HyperMD-codeblock .cm-variable-2,
.HyperMD-codeblock .cm-variable-3 {
  color: var(--yellow) !important;
}

.token.regex,
.token.important,
.token.variable {
  color: var(--purple) !important;
}

.token.important,
.token.bold {
  font-weight: bold !important;
}

.token.italic {
  font-style: italic !important;
}

.token.entity {
  cursor: help !important;
}
