{% raw %}
Role: {{ role }}
Sender: {{ sender }}
Recipient: {{ recipient }}
Timestamp: {{ timestamp }}
ID: {{ id }}

ACTION RESPONSE:
Action Request ID: {{ content.action_request_id }}
Function: {{ content.action_response.function }}
Arguments: {{ content.action_response.arguments }}
Output: {{ content.action_response.output }}
{% endraw %}
