.ToolNode {
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}


.ToolNode label {
    display: block;
    color: #777;
    font-size: 8;
    margin-bottom: 5px;
}